body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

.top-block {
    max-height: 860px;
    position: relative;
}

.container {
    height: 100vh;
    max-width: 1400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.homeImg {
    width: 100%;
    max-height: 860px;
}

header {
    display: flex;
    justify-content: flex-start;
    padding-top: 2.5%;
    position: absolute;
    top: 0;
    left: 9%;
    color: white;
    font-size: 1.7vw;
    align-items: center;
}

.quote {
    margin-top: 100px;
    width: 100%;
    max-height: 880px;
    height: 220px;
    background: rgba(33, 33, 67, 0.06);
    position: relative;
}

.quote .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 32px;
}

.quote .author {
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-weight: 500;
    font-size: 15px;
}

/* .home-page {
    margin-top: 100px;
    width: 90%;
    display: flex;
    position: relative;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
} */

/* .home-page .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.big-block {
    position: relative;
}

.small-blocks a {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2vw;
    width: 100%;
}

.small-blocks {
    width: 100%;
}

/* .small-blocks div {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.small-blocks div div {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
} */

.home-page .content img {
    width: 100%;
    border-radius: 12px;
}

.header-text {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 29%;
    left: 9%;
    gap: 2vw;
}

.big-header-text {
    display: flex;
    flex-direction: column;
    font-size: 3.8vw;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0px 0px 2px #000;
}

.small-header-text {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    text-shadow: 0px 0px 2px #000;
}

.big-block span {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 2vw;
    color: white;
}

.big-block:hover,
.small-blocks img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

.small-blocks img {
    height: 15vw;
}

.header-text-center {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    text-shadow: 0px 0px 2px #000;
}

.heart-chechnya {
    margin-top: 100px;
}

.photos {
    display: flex;
    gap: 3px;
}

.photos img {
    width: 100%;
    max-height: 15vw;
}

.photos div {
    width: 100%;
}

.heart-chechnya .content{
    margin-top: 100px;
}

.heart-chechnya .content .header{
    text-align: center;
    font-size: 2em;
    display: block;
    color: #141415;
}

.heart-chechnya .content .text{
    text-align: center;
    font-size: 1.5em;
    display: block;
    padding: 0 5%;
    margin-top: 20px;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #000;
}

.moreBtn{
    position: absolute;
    left: 9%;
    bottom: 17%;
    background: radial-gradient(118.87% 1931.79% at 0% -18.87%, rgba(255, 128, 128, 0.2) 0%, rgba(0, 194, 255, 0.2) 100%) , #C192F7;
    border-radius: 12px;
    padding: 1% 3%;
    font-size: 1.5vw;
    color: #FFFFFF;
}

footer{
    width: 90%;
    height: 200px;
    margin-top: 100px;  
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.search {
    display: flex;
    justify-content: space-between;
    width: 40%;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    padding: 10px;
    align-items: center;
}

.footer-block-1, .footer-block-2 {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    width: 100%;
    font-size: 1.5vw;
}

.footer-block-3 {
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-block-1 .name{
    font-weight: 700;
    font-size: 2vw;
}


.home-page{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 96%;
    gap: 40px;
}

.home-page div{
    display: flex;
    gap: 20px;
}

.home-page img {
    width: 100%;
    border-radius: 12px;
}

.home-page .small-blocks img {
    height: 14vw;
}

.home-page div:nth-child(1), .home-page div a:nth-child(1){
    flex: 0 0 50%;
}


@media screen and (min-width: 1400px) {
    .header-text{
        left: 120px;
        top: 245px;
    }

    .big-header-text {
        font-size: 53px;
    }

    .small-header-text{
        font-size: 28px;
    }

    .moreBtn{
        left: 120px;
        top: 644px;
        font-size: 20px;
        padding: 12px 42px;
    }

    .footer-block-1 .name{
        font-size: 28px;
    }

    .footer-block-1, .footer-block-2{
        font-size: 22px;
    }

    .home-page .small-blocks img {
        height: 215px;
    }

    .small-blocks a, .big-block span {
        font-size: 26px;
    }

    .header{
        left: 120px;
        font-size: 24px;
        padding-top: 34px;
    }
  }
